<div class="guide-promo-wrapper">
    <h2 class="mt-0 mb-0 pt-0 pb-0 lift">Read our Practitioner's Guides</h2>
    <div class="guide-promo">
        {% for item in site.pages %}
            {% if item.comingSoon != true %}
                <div class="guide-promo-column">
                    <div>
                        <a class="guide-promo-top bg-charcoal" href="{{ item.url | relative_url }}">
                            <div>
                                <img src="{{ '/assets/images/logo-inverted.svg' | relative_url }}" alt="Logo">
                                <p class="prefix">Practitioner's Guide:</p>
                                <p class="title">{{ item.description }}</p>
                            </div>
                            <div>
                                <img alt="arrow forward" src="{{ '/assets/images/arrow-turquoise.svg' | relative_url }}" />
                                <img alt="arrow forward" src="{{ '/assets/images/arrow-turquoise.svg' | relative_url }}" />
                            </div>
                            <img class="stripe-top-right" alt="pint stripes" src="{{ '/assets/images/stripe-pink.svg' | relative_url }}" />
                            <img class="stripe-bottom-left" alt="orange stripes" src="{{ '/assets/images/stripe-orange-full.svg' | relative_url }}" />
                        </a>
                        <div class="guide-promo-bottom">
                            <div>
                                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                <p class="summary">{{ item.summary }}</p>
                                <div class="guide-promo-profile">
                                    {% include profile.html profile=item.profile author=item.author  %}
                                    <p class="bold">{{ item.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>