---
---
:root {
    --white: #fff;
    --black: #252525;
    --grey: #767676;

    --teal: #2bb3bb;
    --light-teal: #dff4f5;

    --orange: #ef8547;
    --light-orange: #fdede4;

    --pink: #c41565;
    --light-pink: #f9eaf1;

    --yellow: #f8be4f;
    --light-yellow: #fef9ef;

    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
}

body {
    font-family:"objektiv-mk1",Helvetica,Arial,sans-serif !important;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    color: var(--black);
}

h1, h2, h3, h4 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: var(--font-bold);
}

hr {
    border-top: 1px solid var(--teal);
}

.underline-turquoise {
    border-bottom: 2px solid var(--teal);
}

.bold {
    font-weight: var(--font-bold);
}

.page-content p {
    margin-left: 2rem;
}

.page-content img {
    clip-path: polygon(10px 10px , calc(100% - 10px) 10px, calc(100% - 10px) calc(100% - 105px), calc(100% - 105px) calc(100% - 10px), 10px calc(100% - 10px));
    width: 100%;
    height: auto;
}

.page-content p:has(img) {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 100px), calc(100% - 100px) 100%, 0% 100%);
    background-color: #dff0f3;
}

.page-content h2 {
    border-bottom: 1px solid var(--teal);
}

.page-content h2:before {
    content: "";
    display: inline-block;
    background-image: url('../images/arrow-turquoise.svg');
    background-repeat: no-repeat;
    background-size: 1rem 1.75rem;
    height: 1.75rem;
    width: 1rem;
    transform: translateY(3px);
    margin-right: 1rem;
}

.page-content h4 {
    padding-left: 1rem;
}

.page-content h3:before {
    content: "";
    display: inline-block;
    background-image: url('../images/arrow-charcoal.svg');
    background-repeat: no-repeat;
    background-size: 1rem 1.75rem;
    height: 1.75rem;
    width: 1rem;
    transform: translateY(2px);
    margin-right: 1rem;
}

.page-content h4:before {
    content: "";
    display: inline-block;
    background-image: url('../images/arrow-charcoal.svg');
    background-repeat: no-repeat;
    background-size: 1rem 1.5rem;
    height: 1.5rem;
    width: 1rem;
    transform: translateY(2px);
    margin-right: 1rem;
}

/* .page-content h5 {
    padding: 1rem 1.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 0% 100%);
    background-color: var(--teal);
    color: #fff;
} */

.page-content h5 {
    padding: 1rem 1.5rem;
    width: 100%;
    position: relative;
    z-index: 2;
}

.page-content h5::before {
    content: " ";
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0% 100%);
    background-color: var(--teal);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    z-index:-2;
}


.page-content h5::after {
    content: " ";
    clip-path: polygon(3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 25px), calc(100% - 25px) calc(100% - 3px), 3px calc(100% - 3px));
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    z-index: -1;
}

.page-content ul {
    list-style-type: none;
    padding-left: 2rem;
}

.page-content ul li {
    padding: 0.25rem 0.25rem 0.25rem 2rem;
}

.page-content ul li p {
    display: inline;
    margin: 0;
    padding-left: 0;
}

.page-content ul li::before
{
  content: "";
  display: inline-block;
  background-image: url('../images/arrow-charcoal.svg');
  background-repeat: no-repeat;
  background-size: 0.5rem 1rem;
  height: 1rem;
  width: 1rem;
}

.mb-0 { margin-bottom: 0rem !important; }
.mb-1 { margin-bottom: 1rem !important; }
.mb-2 { margin-bottom: 2rem !important; }
.mb-3 { margin-bottom: 3rem !important; }
.mb-4 { margin-bottom: 4rem !important; }
.mb-5 { margin-bottom: 5rem !important; }
.mt-0 { margin-top: 0rem !important; }
.mt-1 { margin-top: 1rem !important; }
.mt-2 { margin-top: 2rem !important; }
.mt-3 { margin-top: 3rem !important; }
.mt-4 { margin-top: 4rem !important; }
.mt-5 { margin-top: 5rem !important; }

.pb-0 { padding-bottom: 0rem !important; }
.pb-1 { padding-bottom: 1rem !important; }
.pb-2 { padding-bottom: 2rem !important; }
.pb-3 { padding-bottom: 3rem !important; }
.pb-4 { padding-bottom: 4rem !important; }
.pb-5 { padding-bottom: 5rem !important; }
.pt-0 { padding-top: 0rem !important; }
.pt-1 { padding-top: 1rem !important; }
.pt-2 { padding-top: 2rem !important; }
.pt-3 { padding-top: 3rem !important; }
.pt-4 { padding-top: 4rem !important; }
.pt-5 { padding-top: 5rem !important; }

.right-align { text-align: end; }

.bg-turquoise-light { background-color: #dff0f3; }
.bg-turquoise { background-color: var(--teal); }
.bg-charcoal { background-color: var(--black); }
.bg-gray { background-color: #D7D2D6; }

.container-regular {
    margin: auto;
    width: 80%;
    padding: 1px;
    max-width: 1200px;
    transition: all 0.8s ease;
}

.container-wide {
    margin: auto;
    width: 90%;
    padding: 0px;
    max-width: 1400px;
    transition: all 0.8s ease;
}

.container-regular img {
    width: 100%;
    height: auto;
}

.profile-icon {
    display: flex;
    padding: 0;
    width: 64px;
    height: 64px;
    position: relative;
}

.profile-icon>img {
    width: 64px;
    height: 64px;
    clip-path: polygon(0px 0px, 64px 0px, 64px 38px, 38px 64px, 0px 64px);
    position: relative;
    z-index: 2;
}

.profile-icon::before {
    content: " ";
    width: 68px;
    height: 68px;
    clip-path: polygon(0px 0px, 68px 0px, 68px 41px, 41px 68px, 0px 68px);
    background-color: var(--teal);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
}

.profile-icon>span {
    color: #fff;
    align-self: center;
    margin: auto;
    font-size: 24px;
    z-index: 2;
}

a.block-highlight-turquoise {
    color: var(--black);
    border-bottom: 0.1875rem solid var(--teal);
    align-self: flex-start;
    padding: 0.125rem;
}

a.block-highlight-turquoise:hover, a.block-highlight-turquoise:active, a.block-highlight-turquoise:focus {
    color: #fff;
    background-color: var(--teal);
    text-decoration: none;
}

code {
    white-space : pre-wrap !important;
}

#footer {
    text-align: center;
}

#footer {
    text-align: center;
}

#footer div.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

#footer a {
    color: var(--black);
}

#footer #linkedin-logo {
    height: 21px;
    width: auto;
}

#footer #youtube-logo {
    height: 21px;
    width: auto;
}

#footer #b-corp-logo {
    height: 60px;
    width: auto;
}

/*** home styles ***/
#banner {
    position: relative;
}

#banner>img {
    width: 100%;
    height: auto;
}

#banner #banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

#banner #banner-overlay #banner-overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#banner #banner-overlay #banner-overlay-content h1 {
    font-size: 4.375rem;
    font-weight: normal;
}

#banner #banner-overlay #banner-overlay-content p {
    font-size: 1.25rem;
    max-width: 55%;
}

#banner:after {
    height: 0;
    width: 0;
    display: block;
    border-bottom: 3.4375rem solid #fff;
    border-left: 81.5rem solid transparent;
    border-right: 12.5rem solid transparent;
    content: "";
    position: absolute;
    bottom: -.125rem;
    right: -.0625rem;
}

.bottom-shape-bottom1{height:6.25rem;position:relative}
@media (max-width:63.9375rem){.bottom-shape-bottom1{height:4.5rem}}
@media (max-width:47.9375rem){.bottom-shape-bottom1{height:1.75rem}}
.bottom-shape-bottom1:before{content:"";width:0;height:0;display:block;position:absolute;top:0;left:0;z-index:0;border-top:6.25rem solid transparent;border-left:25rem solid #fff}
@media (max-width:87.4375rem){.bottom-shape-bottom1:before{border-top-width:6.25rem;border-left-width:21.3125rem}}
@media (max-width:73.0625rem){.bottom-shape-bottom1:before{border-top-width:6.25rem;border-left-width:16rem}}
@media (max-width:63.9375rem){.bottom-shape-bottom1:before{border-top-width:4.5rem;border-left-width:12rem}}
@media (max-width:47.9375rem){.bottom-shape-bottom1:before{display:none}}
.bottom-shape-bottom1:after{content:"";height:0;width:0;position:absolute;bottom:0;right:0;z-index:0;display:block;top:1.5rem;border-top:4.75rem solid transparent;border-right:75rem solid #fff}
@media (max-width:87.4375rem){.bottom-shape-bottom1:after{border-top-width:4.75rem;border-right-width:64.0625rem}}
@media (max-width:73.0625rem){.bottom-shape-bottom1:after{border-top-width:4.75rem;border-right-width:58rem}}
@media (max-width:63.9375rem){.bottom-shape-bottom1:after{border-top-width:3.5rem;border-right-width:52rem;top:1rem}}
@media (max-width:47.9375rem){.bottom-shape-bottom1:after{border-right-width:47.9375rem;border-top-width:1.75rem;top:0}}

.guide-promo-wrapper, #get-in-touch {
    margin:  0rem 0 7rem 0;
}

.guide-promo-wrapper>h2.lift {
    transform: translateY(-90%);
}

.guide-promo {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 4%;
    padding-top: 5rem;
}

.guide-promo .guide-promo-column {
    display: flex;
    flex-basis: 29%;
}

.guide-promo .guide-promo-column p {
    margin-bottom: 0;
}

.guide-promo .guide-promo-column>div {
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.guide-promo .guide-promo-column.coming-soon>div {
    grid-template-rows: 2fr 6fr;
}

.guide-promo .guide-promo-top {
    grid-row-start: 1;
    display: flex;
    align-items: stretch;
    text-decoration: none;
    position: relative;
}

.guide-promo .guide-promo-top>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: start;
    
    color: #fff;
    padding: 1rem 1.5rem 3.5rem 1.5rem;
    width: 100%;
}

.guide-promo .guide-promo-top>div:nth-child(1)>img {
    height: 30px; 
    width: auto;
    margin-bottom: 1.5rem;
}

.guide-promo .guide-promo-top>div:nth-child(1)>p {
    padding: 0 0.5rem;
}

.guide-promo .guide-promo-top>div:nth-child(2) {
    position: absolute;
    bottom:10px;
    right: 10px;
}

.guide-promo .guide-promo-top>div:nth-child(2)>img {
    display: inline-block;
    width: auto;
    height: 26px;
}

.guide-promo .guide-promo-top>.stripe-pink {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 0;
}

.guide-promo .guide-promo-top>.stripe-orange {
    width: 20px;
    position: absolute;
    left: 0;
    bottom: 0;   
}

.guide-promo .guide-promo-bottom {
    grid-row-start: 2;
    display: flex;
    align-items: stretch;
    padding: 1rem 0;
    gap: 1rem;
}

.guide-promo .guide-promo-bottom>div {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.guide-promo .guide-promo-bottom a {
    color: #000;
    font-weight: var(--font-bold);
}

.guide-promo .guide-promo-bottom a:hover, .guide-promo .guide-promo-bottom a:active, .guide-promo .guide-promo-bottom a:focus {
    color: var(--teal);
    text-decoration: none;
}

.guide-promo .guide-promo-profile {
    margin-top: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.guide-promo .guide-promo-profile>p {
    flex-grow: 2;
    align-self: center;
    padding: 0;
    margin: 0;
}

.guide-promo .guide-promo-top.coming-soon {
    color: #8E898B;
    align-items: center;
    justify-content: center;
}

#get-in-touch {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    padding: 0 5%;
}

#get-in-touch>img {
    max-width: 250px;
}

#get-in-touch>div {
    display: flex;
    flex-direction: column;
}

#get-in-touch>div>h2 {
    padding-top: 0;
}

/*** guide styles ***/
#sidebar {
    border-right: 1px solid rgba(0,0,0,.07);
    width: 375px;
    min-width: 0;
    max-width: 375px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease;
    flex: 1 0 375px;
}
  
#sidebar ul {
    padding: 0;
    list-style-type: none;
}

#sidebar>ul {
    position: relative;
}

#sidebar ul li {
    padding: 5px 0 0 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
#sidebar>ul>li, #sidebar>ul>#sidebar-nav-items>li.nav-item-page-title {
    padding: 5px 0 0 25px;
}

#sidebar ul li a {
    color: #364149;
} 

#sidebar ul li a:hover {
    text-decoration: none;
    color: var(--teal);
}

li.nav-item-page-title.active {
    background-color: var(--teal);
}

li.nav-item-page-title.active>a {
    color: #fff !important;
}

#sidebar>ul>div#sidebar-nav-items>ul>li {
    border-left: 2px solid var(--teal);
    margin-left: 2.25rem;
}

li.active-toc>a {
    font-weight: var(--font-bold);
}

li.active-toc:before {
    content: "";
    display: inline-block;
    background-image: url('../images/arrow-turquoise.svg');
    background-repeat: no-repeat;
    background-size: 0.5rem 1rem;
    height: 1rem;
    width: 0.5rem;
    position: absolute;
    transform: translateY(0.125rem);
    left: 1.5rem;
}

li.nav-item-page-title.active-toc:before {
    background-image: url('../images/arrow-white.svg');
    left: 0.75rem;
}

#sidebar-logo {
    width: 100%;
    height: auto;
    padding: 1.5rem 3.5rem;
    max-width: 350px;
}

#guide-root {
    max-width: 1920px;
    margin: 0 auto;
}

#guide-wrapper {
    display: flex;
    height: 100%;
}

#guide-content {
    overflow-y: auto;
    flex-grow: 1;
}

#guide-content-columns {
    display: flex;
    flex-direction: row;
}

#guide-banner {
    position: relative;
}

#guide-banner>img {
    width: 100%;
    height: auto;
}

#guide-banner h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: var(--font-bold);
}

#guide-banner>.foreground h1::before {
    content: "";
    display: inline-block;
    background-image: url('../images/stripe-orange.svg');
    background-repeat: no-repeat;
    background-size: 8px 16px;
    height: 16px;
    width: 8px;
    position: absolute;
    transform: translateY(4px);
    
}

#page-description {
    padding: 1rem 0 2rem 0;
    margin: 0 0 2rem 0;
    color: var(--teal);
    font-size: 1.75rem;
    border-bottom: 2px solid #dff0f3;
}

#right-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
}

#guide-profile {
    display: flex;
    gap: 1rem;
}

#guide-profile>div#guide-profile-about {
    display: flex;
    flex-direction: column;
}

#guide-profile>div#guide-profile-about>p:nth-of-type(1) {
    margin-top: auto;
    white-space: nowrap;
}

#guide-profile>div#guide-profile-about>p:nth-of-type(2) {
    white-space: nowrap;
}

#highlights>span {
    padding-bottom: 3px;
}

ul.list-turquoise-arrows {
    list-style-type: none;
    padding-left: 0;
}

ul.list-turquoise-arrows li {
    padding-top: 10px;
}

ul.list-turquoise-arrows li::before
{
  content: "";
  display: inline-block;
  background-image: url('../images/arrow-turquoise.svg');
  background-repeat: no-repeat;
  background-size: 0.5rem 1rem;
  height: 1rem;
  width: 1rem;
}

#about-this-series {
    margin-top: 20px;
    padding: 20px;
    background-color: lightblue;
    margin-left: 2rem;
}

@media only screen and (max-width: 1024px) {
    /*** core styles ***/
    .container-regular {
        max-width: 824px;
    }

    .container-wide {
        max-width: 100%;
        width: 100%;
    }

    /*** home styles ***/
    .guide-promo .guide-promo-column {
        display: flex;
        flex-basis: 48%;
    }

    /*** guide styles ***/
    #guide-content-columns {
        flex-direction: column-reverse;
    }

    #right-column {
        justify-content: end;
        margin: 2rem 2rem 0 2rem;
        gap: 1rem;
    }

    #guide-profile {
        justify-content: end;
    }
    
    #guide-banner h1 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 768px) {
    /*** core styles ***/
    .container-regular {
        max-width: 668px;
    }

    /*** home styles ***/
    #banner #banner-overlay #banner-overlay-content h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 0;
        padding: 0.5rem 0;
    }

    #banner #banner-overlay #banner-overlay-content p {
        font-size: 1.125rem;
        max-width: 100%;
    }

    #banner::after {
        border-bottom: 1.4375rem solid #fff;
        border-left: 31.5rem solid transparent;
        border-right: 6.5rem solid transparent;
    }

    .guide-promo-wrapper h2 {
        font-size: 1.6rem;
    }

    .guide-promo .guide-promo-column {
        display: flex;
        flex-basis: 100%;
    }
    
    .guide-promo .guide-promo-column>div {
        display: block !important;
    }

    .guide-promo .guide-promo-top.coming-soon {
        padding: 2rem 0;
    }

    /*** guid styles ***/
    #sidebar-toggle {
        display: none;
    }

    #sidebar.collapsed {
        width: 100%;
        max-width: 100%;
    }

    #sidebar {
        width: 100%;
        height: auto;
        max-width: none;
        flex: 1 0 auto;
    }

    #guide-wrapper {
        flex-direction: column;
    }

    #guide-content {
        overflow-y: initial;
    }
}