---
layout: default
---

<div id="guide-root">
    <div id="guide-wrapper">
        <div id="sidebar" class="bg-turquoise-light">
            <div id="sidebar-logo-container">
                <a href="{{ site.sl_url }}/"><img  src="{{ '/assets/images/scott-logic-primary-no-tagline-full-color-rgb-900px-w-72ppi.png' | relative_url }}" alt="Logo" id="sidebar-logo"></a>
            </div>
            <ul>
                <li class="{% if page.url == '/' %}active{% endif %}">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </li>
                <div id="sidebar-nav-items">
                    {% for  post in site.pages %}
                        {% if post.title %}
                            {% if post.url == page.url %} 
                            <li class="nav-item-page-title active"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                            {% else %}
                            <li class="nav-item-page-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                            {% endif %}
                            {% if site.toc.enabled %}
                                {% if post.url == page.url %}   
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max item_class='active' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <li><a href="{{ site.GitHub_url }}">Visit our GitHub repository</a></li>
            </ul>
        </div> 
        <div id="guide-content">
                <button id="sidebar-toggle">☰</button>
            <div class="container-regular">
                <h1 id="page-title">{{ page.title }}</h1>
                {% include profile.html profile=page.profile author=page.author  %}
                <h6 id="page-author">by {{ page.author }} - {{ page.date | date_to_string }}</h6>
                <p id="page-description">{{page.description}}</p>
                <p>
                    <h6>About this series</h6>
                    {{ site.about }}
                    <p>
                        <br>
                        This guide is made available under the permissive Creative Commons <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 license</a>
                    </p>
                </p>
                {{ content }}
                {% include footer.html %}
            </div>
        </div>
    </div>
</div>

<script src="{{ '/assets/js/sidebar.js' | relative_url }}">
</script>